.firstLevel {
	display: grid;
	grid-template-columns: 24px 1fr;
	gap: 20px;
	align-items: center;
	margin-top: 15px;
	font-weight: 500;
	font-size: 18px;
	line-height: 25px;
}

.firstLevelActive,
.firstLevel:hover {
	color: var(--primary);
}

.firstLevelActive svg,
.firstLevel:hover svg {
	fill: var(--primary);
}

.secondLevelWrapper {
	margin-top: 15px;
	margin-left: 12px;
	padding: 0;
	padding-left: 32px;
	list-style: none;
	border-left: 1px solid #DFDFDF;
	
}

.secondLevelTitle {
	margin-bottom: 10px;
	color: var(--gray-dark);
	font-weight: 300;
	font-size: 12px;
	line-height: 16px;
	text-transform: uppercase;
	background: none;
	border: none;
	cursor: pointer;
	opacity: 1;
	transition: opacity .5s;
}

.secondLevelTitle:hover {
	opacity: 0.5
}

.secondLevelBlock {
	padding: 0;
	overflow: hidden;
	list-style: none
	
}

.thirdLevel {
	display: block;
	margin-bottom: 10px;
	color: var(--gray-dark);
	font-weight: 500;
	font-size: 14px;
	outline-offset: -1px;
	cursor: pointer;
}

.thirdLevelActive,
.thirdLevel:hover {
	color: var(--primary)
}

.FirstLevelList {
	padding: 0;
	list-style: none
}